<nav>
    <div class="brand">
        <a href="/">NueaKubPom</a>
    </div>
    <div class="togglemenu">
        <a href="javascript:void(0)" class="togglemenuI">
            <span class="x"><i class="fa-solid fa-xmark"></i></span>
            <span class="bar"><i class="fa-solid fa-ellipsis-vertical"></i></span>
        </a>
    </div>
</nav>